.card{
    background: lightgreen;
    padding:10px;
    font-family: 'Poppins', sans-serif;
    width:320px;
    box-shadow: 4px 4px 19px 0px rgb(0 0 0 / 75%);
   }
p{
    margin: 4px;
}

.company{
     text-align: right;
     font-family: 'Pacifico',cursive;
     font-size:25px;
     font-weight: bold;
     margin-top: 20px;
}